/* Colors */
/* Font */
/* Media Queries */
/* transparent backgrounds */
/* Box Shadow */
/* Colors */
/* Font */
/* Media Queries */
/* transparent backgrounds */
/* Box Shadow */
/* Main */
#dataSpot {
  background: #222222;
  color: white;
  margin-bottom: -30px; }
  @media (min-width: 992px) {
    #dataSpot {
      margin-bottom: 0; } }
  #dataSpot h2 {
    color: white;
    font-weight: 300;
    margin-top: 10px; }
  #dataSpot p.spotText {
    font-size: 14px; }
    @media (min-width: 992px) {
      #dataSpot p.spotText {
        font-size: 12px; } }
  #dataSpot ul {
    position: relative;
    margin-bottom: 0; }
    #dataSpot ul li.media {
      margin-top: 0;
      position: relative;
      padding: 0;
      height: 170px;
      overflow: hidden; }
      @media (min-width: 992px) {
        #dataSpot ul li.media {
          margin: 0 -15px; } }
      @media (max-width: 1200px) {
        #dataSpot ul li.media {
          height: 190px; } }
      #dataSpot ul li.media:last-child {
        margin-bottom: 0; }
      #dataSpot ul li.media img {
        position: absolute;
        width: 100%; }
      #dataSpot ul li.media a {
        position: relative;
        display: block; }
        #dataSpot ul li.media a:hover {
          text-decoration: none; }
      #dataSpot ul li.media h4 {
        position: absolute;
        text-shadow: 1px 1px 2px #3b5998;
        max-width: 80%;
        background-color: #56a9d0;
        background-color: rgba(30, 141, 193, 0.75);
        margin-top: 0;
        color: white;
        z-index: 1000;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 0;
        font-family: "pragmatica-web-condensed",sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 5px; }
        @media (max-width: 768px) {
          #dataSpot ul li.media h4 {
            font-size: 18px; } }

/* Single Page Version */
.byline {
  padding: 0 15px; }

.blog-sidebar h2:first-child {
  margin-top: 0; }

#spotlight-full-image {
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: block;
  position: relative; }
  #spotlight-full-image img {
    width: 100%;
    position: absolute; }
  #spotlight-full-image .spot-title {
    background-color: #78bad9;
    background-color: rgba(30, 141, 193, 0.6);
    color: white;
    position: absolute;
    z-index: 2000;
    bottom: 0;
    padding: 0 10px;
    font-weight: 100;
    font-family: "pragmatica-web-condensed", sans-serif;
    text-shadow: 1px 1px 2px #222222;
    width: 100%; }
    #spotlight-full-image .spot-title h1 {
      margin-top: 5px; }
    #spotlight-full-image .spot-title small {
      color: #f7f7fc;
      font-weight: 300; }
  #spotlight-full-image .container {
    position: relative;
    bottom: 0; }
  @media (min-width: 992px) {
    #spotlight-full-image {
      height: 550px; } }

/* Colors */
/* Font */
/* Media Queries */
/* transparent backgrounds */
/* Box Shadow */
/* Main */
#dataPageContent h2 {
  margin-top: 20px; }
#dataPageContent section.service {
  padding-top: 50px;
  margin-top: -50px; }

img.data-thumb {
  width: 100px;
  height: 100px;
  border: 1px solid #cccccc; }

.description {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 30px; }
  .description h2 {
    margin-top: 0; }

#catalog-main-image {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  border: 1px solid #cccccc; }
  #catalog-main-image h1 {
    height: 50px;
    z-index: 2000;
    padding: 0 20px;
    margin: 0; }
  #catalog-main-image .caption {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 300px;
    background: #1e8dc1; }
  #catalog-main-image .data-callout {
    position: absolute;
    bottom: 0px;
    background-color: #3f9eca;
    background-color: rgba(30, 141, 193, 0.85);
    background: -webkit-linear-gradient(#135f82, #1e8dc1) top 85%;
    background: linear-gradient(#135f82, #1e8dc1) top 85%;
    color: white;
    padding: 0 20px;
    padding-top: 0;
    left: 0px;
    width: 100%;
    height: auto;
    font-size: 16px; }
    #catalog-main-image .data-callout th {
      font-weight: 500; }
    #catalog-main-image .data-callout td {
      vertical-align: top; }
    #catalog-main-image .data-callout a {
      color: #f7f7fc; }
  #catalog-main-image .btn-group {
    position: absolute;
    top: 20px;
    left: 20px; }

.nav-cat {
  top: 150px; }
  .nav-cat li {
    border-bottom: 1px solid #cccccc;
    padding-left: 0;
    margin-top: 0; }
    .nav-cat li.active {
      background: #f7f7fc; }

.list-group .media {
  margin-top: 0;
  display: block;
  overflow: auto; }
.list-group .media-body {
  display: block;
  overflow: auto; }

#data-access h2 {
  margin-top: 0; }
#data-access h4 {
  text-transform: uppercase; }
#data-access .btn {
  margin-bottom: 40px; }

#metadata table {
  width: 100%; }
  #metadata table tr:nth-child(even) {
    background-color: #f7f7fc; }
  #metadata table tr td {
    padding: 10px;
    vertical-align: top; }
    #metadata table tr td:first-child {
      width: 50%; }

#catalogEntryContent h1 {
  margin-top: 0; }

.wms-url {
  padding: 5px;
  display: block;
  overflow: hidden;
  background: white;
  border: 1px solid #cccccc;
  max-width: 100%;
  color: #5bc0de;
  font-weight: 500;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075) inset; }

@media (max-width: 768px) {
  #catalog-main-image .data-callout {
    font-size: 14px; } }
@media (max-width: 485px) {
  #catalog-main-image .data-callout {
    display: none; } }
/* Colors */
/* Font */
/* Media Queries */
/* transparent backgrounds */
/* Box Shadow */
/* Texas GIS Forum 2014 Custom */
.forum-date-runner {
  display: block;
  height: 20%;
  background: #222222;
  color: white;
  font-family: "pragmatica-web-condensed", sans-serif;
  font-size: 20px;
  color: #f7f7fc; }
  .forum-date-runner strong {
    color: white;
    font-weight: 300;
    font-size: 28px; }
    @media (max-width: 768px) {
      .forum-date-runner strong {
        font-size: 20px; } }
  @media (max-width: 768px) {
    .forum-date-runner {
      font-size: 14px; } }

.forum-links {
  position: absolute;
  z-index: 2000;
  top: 45%;
  width: 150px;
  left: 30px; }
  @media (max-width: 1200px) {
    .forum-links {
      width: 100px;
      left: 40px; } }
  .forum-links a {
    padding: 10px;
    width: 100%;
    background: #222222;
    color: white;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    box-shadow: #767676 2px 2px 5px; }
    @media (max-width: 1200px) {
      .forum-links a {
        margin-bottom: 10px;
        font-size: 12px; } }
    .forum-links a:last-child {
      margin-bottom: 0; }
    .forum-links a:hover {
      text-decoration: none;
      background: #1e8dc1; }

* {
  margin: 0; }

html, body {
  height: 100%;
  font-size: 15px; }

/* Custom Columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%; } }
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%; } }
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%; } }
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  position: relative; }

#contentMain {
  background: white;
  margin-bottom: 30px; }

.jumbotron {
  padding: 0px;
  background: none;
  margin-bottom: 0; }
  .jumbotron a.btn {
    position: absolute;
    display: block; }

@media (min-width: 767px) {
  .jumbotron .container {
    width: 100%; } }
@media (min-width: 992px) {
  .jumbotron .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .jumbotron .container {
    width: 1170px; } }
/* Headers */
h1, h2, h3, h4 {
  font-family: "pragmatica-web-condensed", sans-serif;
  font-weight: 400; }

h2 {
  color: #bf571f;
  font-size: 26px; }

/* Buttons */
.btn-tnris {
  color: white;
  background-color: #1e8dc1;
  border-color: #127cae;
  box-shadow: inset #127cae 0 0 7px; }
  .btn-tnris:hover {
    background: #127cae;
    color: white; }

.tag {
  border-radius: 10px;
  padding: 0 10px;
  background: #acddf4;
  border: 1px solid #1e8dc1;
  font-weight: 600; }
  .tag:hover {
    text-decoration: none; }

/* Nav bar */
.title-header {
  height: 25px;
  background: #1e8dc1;
  color: #acddf4;
  width: 100%;
  z-index: 1000;
  font-family: "pragmatica-web-condensed", sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 100; }
  @media (min-width: 768px) {
    .title-header {
      font-size: 18px; } }
  .title-header span {
    margin-top: 3px; }
  .title-header a.contact {
    color: white;
    text-shadow: 1px 1px 1px #127cae;
    margin-top: 8px; }
    .title-header a.contact:hover {
      color: #cccccc; }

.navbar-nav > li > a {
  font-weight: 100; }
  .navbar-nav > li > a.gio {
    background: url(../images/icons/sm_tx.png) 10px 14px no-repeat;
    padding-left: 35px; }
    .navbar-nav > li > a.gio:hover {
      background-position: 10px -26px; }

a.navbar-twdb {
  font-size: 12px;
  color: white;
  margin-right: -15px;
  margin-top: 7px;
  overflow: hidden;
  color: #acddf4;
  text-transform: uppercase; }
  a.navbar-twdb:hover {
    text-decoration: none;
    color: white; }

#mainNav {
  height: 51px;
  width: 100%;
  z-index: 10000;
  border-radius: 0; }
  #mainNav.navbar {
    margin-bottom: 0px; }
  #mainNav.affix {
    top: 0; }

.navbar-collapse {
  background: #222222; }
  @media (min-width: 1200px) {
    .navbar-collapse {
      float: left;
      width: 600px; } }
  @media (min-width: 992px) {
    .navbar-collapse {
      float: left;
      width: 600px; } }

#logoCollapse {
  background: url(../images/sm_logo_white.png) 0 0 no-repeat;
  width: 80px;
  height: 36px;
  float: left;
  z-index: 30000;
  text-indent: -9999px;
  margin-right: 20px;
  margin-top: 5px; }

#about-contact {
  width: auto;
  float: right;
  margin-top: 15px; }
  #about-contact ul {
    padding: 0; }
    #about-contact ul li {
      display: inline;
      float: left;
      list-style: none;
      margin-right: 20px; }
      #about-contact ul li a {
        color: white;
        font-size: 14px; }
        #about-contact ul li a:hover {
          text-decoration: none;
          color: #cccccc; }

/* navbar dropdown */
.inverse-dropdown {
  background-color: #222;
  border-color: #080808; }
  .inverse-dropdown > li > a {
    color: #999;
    font-size: 18px; }
    .inverse-dropdown > li > a small {
      font-size: 12px;
      font-weight: 100; }
    .inverse-dropdown > li > a:hover {
      color: #fff;
      background-color: #000; }
  .inverse-dropdown > .divider {
    background-color: #000; }

/* Nav bar Form */
/* Home Top */
#home-top-content {
  margin-top: 10px;
  margin-bottom: 20px; }

/* Quick Nav */
/**************************************************/
#quickNav {
  margin-bottom: 0;
  position: relative;
  z-index: 0;
  float: left;
  padding-top: 0px; }
  #quickNav .container {
    background: #f7f7fc; }
  #quickNav h3 {
    margin-top: 0;
    color: #1e8dc1;
    font-weight: 300;
    text-align: center;
    font-size: 24px; }
    #quickNav h3 strong {
      font-weight: 500; }
  #quickNav ul {
    list-style: none;
    background: #f7f7fc; }
    #quickNav ul li {
      list-style: none;
      background: #f7f7fc;
      height: 40px;
      font-size: 18px;
      border-right: none; }
      @media (min-width: 992px) {
        #quickNav ul li {
          height: 60px;
          border-right: 1px solid #dddddd; } }
      @media (min-width: 1200px) {
        #quickNav ul li {
          height: 70px; } }
      @media (max-width: 992px) {
        #quickNav ul li:first-child {
          border-top-right-radius: 0;
          border-bottom-left-radius: 5px; } }
      @media (max-width: 992px) {
        #quickNav ul li:last-child {
          border-top-right-radius: 5px;
          border-bottom-left-radius: 0;
          border-right: 1px solid #dddddd; } }
      #quickNav ul li a {
        font-family: "pragmatica-web-condensed", sans-serif;
        font-weight: 500;
        font-size: 14px;
        overflow: auto;
        height: 30px;
        width: 100%; }
        @media (min-width: 768px) {
          #quickNav ul li a {
            font-size: 16px;
            height: 60px; } }
        @media (min-width: 992px) {
          #quickNav ul li a {
            font-size: 20px;
            height: 60px; } }
        #quickNav ul li a:hover {
          text-decoration: none; }
        #quickNav ul li a .iconContainer {
          width: 30px;
          height: 30px;
          float: left;
          position: relative;
          font-size: 26px;
          background: none;
          margin-left: 0; }
          @media (min-width: 992px) {
            #quickNav ul li a .iconContainer {
              width: 40px;
              height: 40px;
              font-size: 24px; } }
        #quickNav ul li a.downloaddata-quick {
          color: #bf571f; }
          #quickNav ul li a.downloaddata-quick:hover {
            color: #80310a; }
        #quickNav ul li a.orderdata-quick {
          color: #5cb85c; }
          #quickNav ul li a.orderdata-quick:hover {
            color: #4b8a4b; }
        #quickNav ul li a.wms-quick {
          color: #1e8dc1; }
          #quickNav ul li a.wms-quick:hover {
            color: #5bc0de; }
        #quickNav ul li a.training-quick {
          color: #222222; }
          #quickNav ul li a.training-quick:hover {
            color: #767676; }
        #quickNav ul li a small {
          font-family: "Open Sans", sans-serif;
          font-weight: 100;
          color: #222222;
          display: block;
          font-size: 12px; }
  #quickNav .list-group-item {
    padding: 15px;
    padding-top: 5px; }
    @media (min-width: 992px) {
      #quickNav .list-group-item {
        padding-top: 10px; } }
  #quickNav .nav > li > a:hover, #quickNav .nav > li > a:focus {
    background: none;
    list-style: none; }

#mainNav.affix + #quickNav {
  margin-top: 54px; }

#quickNav.navbar .nav > li > a:hover {
  background-color: none !important; }

@media (max-width: 768px) {
  #quicknav ul li.list-group-item {
    float: left;
    display: inline-block; } }
/* Social Media */
.social-front {
  font-family: "pragmatica-web-condensed", sans-serif; }
  .social-front strong {
    font-weight: 300;
    font-size: 20px; }
  .social-front i {
    font-size: 36px;
    margin: 0 5px; }
    .social-front i:last-child {
      margin-right: 0; }
    .social-front i.fa-twitter {
      color: #1e8dc1; }
    .social-front i.fa-facebook {
      color: #3b5998; }
    @media (max-width: 1200px) {
      .social-front i {
        font-size: 24px; } }

/* Front Image */
@media (min-width: 992px) {
  #front-image-container {
    padding-right: 0; } }

/* Footer */
#wrap {
  height: auto !important;
  height: 100%;
  width: 100%;
  position: relative; }

#push, .footer {
  height: 300px; }

.push {
  border: none; }

.footer {
  background: #222222;
  color: white;
  position: relative;
  z-index: 10000; }

/* News Template - Single Page */
author {
  text-transform: uppercase; }

.article .byline {
  margin-bottom: 5px; }
.article h2.headline {
  margin-top: 0;
  font-size: 30px; }
.article img {
  margin-bottom: 15px; }

#allUpdates .article {
  border-bottom: 1px solid #eeeeee; }
  #allUpdates .article:last-child {
    border-bottom: none; }

/* Article Data Box */
.dataBox {
  padding: 20px;
  padding-top: 0;
  border: 1px #ccc solid;
  width: 300px;
  background: #f2f2f2;
  margin-left: 20px;
  margin-bottom: 20px; }

/* Front Page Highlights */
#highlights {
  background: #1e8dc1;
  position: relative;
  z-index: 10000;
  color: white; }
  #highlights strong {
    font-weight: 400; }
  #highlights h3 {
    color: #acddf4;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 20px; }
    @media (max-width: 1200px) {
      #highlights h3 {
        font-size: 24px; } }
  #highlights p {
    padding: 0 15px; }
  #highlights a {
    margin-left: 15px; }
  #highlights .image-container {
    overflow: hidden;
    width: 100%;
    position: relative; }
    #highlights .image-container h2 {
      position: absolute;
      text-shadow: 1px 1px 2px #222222;
      margin: 0;
      padding: 0;
      padding-bottom: 5px;
      padding-left: 15px;
      font-weight: 300;
      bottom: 0;
      width: 100%;
      color: white;
      background-image: -webkit-linear-gradient( bottom , #222222, transparent);
      background-image: linear-gradient(to top, #222222, transparent); }
      @media (max-width: 1200px) {
        #highlights .image-container h2 {
          font-size: 20px; } }

.highlightBox {
  margin-bottom: 30px;
  overflow: hidden; }

/* Updates */
@media (min-width: 992px) {
  #updates {
    margin-left: 15px;
    padding-right: 30px;
    margin-right: -15px; } }
#updates h2 {
  margin-top: 0;
  font-size: 22px; }
#updates h3 {
  font-size: 22px; }
#updates ul {
  padding: 0;
  list-style: none; }
#updates img {
  width: 100%;
  height: 100px !important; }
#updates .media {
  margin-top: 25px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 25px; }
  #updates .media:first-child {
    margin-top: 0;
    padding-left: 0; }
  #updates .media:last-child {
    border: none;
    padding-right: 0; }
  #updates .media time {
    font-size: 14px;
    color: #5c6367;
    font-weight: 300;
    margin-bottom: 5px; }

/* training and around the state */
#front-sidebar {
  margin-bottom: 20px;
  margin-top: 20px; }
  @media (min-width: 992px) {
    #front-sidebar {
      margin-top: 0px; } }
  #front-sidebar #training-front {
    border-left: 1px solid #cccccc;
    padding-left: 15px; }
    @media (min-width: 992px) {
      #front-sidebar #training-front {
        border-left: none;
        padding-left: 0px;
        padding-right: 0; } }
    #front-sidebar #training-front h2 {
      margin-top: 0;
      font-size: 20px; }
    #front-sidebar #training-front h4 {
      margin-top: 0;
      margin-bottom: 0; }
    #front-sidebar #training-front ul {
      margin: 0;
      padding: 0; }
      #front-sidebar #training-front ul li {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 20px; }
        #front-sidebar #training-front ul li strong {
          font-size: 14px;
          font-weight: 100; }
        #front-sidebar #training-front ul li a {
          font-family: "pragmatica-web-condensed", sans-serif; }
        #front-sidebar #training-front ul li time {
          font-size: 18px;
          color: #5c6367;
          font-weight: 300;
          margin-bottom: 5px; }
  #front-sidebar #around-state-front {
    background: url(../images/around-the-state/light_auburn_bg.png) right top no-repeat;
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      #front-sidebar #around-state-front {
        border-bottom: 1px solid #cccccc;
        border-right: none;
        padding-left: 0px;
        padding-right: 0;
        padding-bottom: 20px; } }
    #front-sidebar #around-state-front h2 {
      margin-top: 5px;
      font-size: 20px; }
    #front-sidebar #around-state-front h4 {
      padding-right: 120px; }
    #front-sidebar #around-state-front img {
      float: right;
      width: 125px;
      margin-left: 10px;
      padding-right: 5px; }
      @media (min-width: 1200px) {
        #front-sidebar #around-state-front img {
          width: 150px; } }

/* Common Page Elements */
.mainBlurb {
  font-size: 20px;
  margin-bottom: 10px;
  color: #767676; }

/* Side notes for calling out things
-------------------------------------------------- */
/* Base styles (regardless of theme) */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px; }
  .bs-callout h4 {
    margin-top: 0; }
  .bs-callout p:last-child {
    margin-bottom: 0; }
  .bs-callout code, .bs-callout .highlight {
    background-color: #fff; }

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4; }
  .bs-callout-danger h4 {
    color: #B94A48; }

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc; }
  .bs-callout-warning h4 {
    color: #C09853; }

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0; }
  .bs-callout-info h4 {
    color: #3A87AD; }

.list-group-item.danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4; }
